<% if (params.has_key?(:search)) %>
  <h1>Search results for "<%= params[:search] %>"</h1>
<% elsif (params.has_key?(:tag)) %>
  <h1>Tagged "<%= params[:tag] %>"</h1>
<% else %>
  <h1>Latests Posts</h1>
<% end %>
<% if (@posts.each do |post| %>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= link_to post.title, user_post_path(post.user, post) %></h5>
        <p class="card-subtitle mb-2 text-muted"><%= post.user.name %></p>
        <p class="card-text"><%= post.body %></p>
      </div>
    </div>
  <% end).empty? %>
  There are no posts
<% end %>
