<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<p>
  <strong>Tags:</strong>
  <% @post.tag_names.each do |tag| %>
    <span class="badge"><%= link_to tag, "/?tag=#{tag}" %></span>
  <% end %>
</p>
<% if current_user == @post.user %>
  <%= link_to 'Edit', edit_user_post_path(@post.user, @post) %> |
<% end %>
<%= link_to 'Back', '/' %>

