<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <p class="navbar-text">
    <%= link_to 'Blog', root_path, class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </p>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" name="search" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <ul class="nav navbar-nav ">
      <% if user_signed_in? %>
        <li class="dropdown nav-item">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span id="user-name"><%= current_user.name %></span>
            <span class="caret"></span>
          </a>

          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to 'Posts', user_posts_path(current_user), :class => 'dropdown-item' %>
            <%= link_to 'Edit Profile', edit_user_registration_path, :class => 'dropdown-item' %>
            <%= link_to 'Log out', destroy_user_session_path, method: :delete, :class => 'dropdown-item' %>
          </div>
        </li>
      <% else %>
        <li><%= link_to "Sign up", new_user_registration_path, :class => 'nav-item ml-2 mr-2' %></li> |
        <li><%= link_to "Login", new_user_session_path, :class => 'nav-item ml-2' %></li>
      <% end %>
    </ul>
  </div>

</nav>
